<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Hola {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css">
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
{% if user.is_authenticated %}
<div class="wrapper">
        <aside id="sidebar">
                <div class="h-100">
                        <div class="sidebar-logo">
                                <a href="#">E.M.R</a>
                        </div>
                        <ul class="sidebar-nav">
                                <li class="sidebar-header">
                                        <span>Navigation</span>
                                </li>
                                <li class="sidebar-item">
                                        <a href="/" class="sidebar-link" id="home">
                                                <i class="fa-solid fa-list pe-2"></i>
                                                Dashboard
                                        </a>
                                </li>
                                <li class="sidebar-item">
                                        <a href="/doctor" class="sidebar-link">
                                                <i class="fas fa-user-md pe-2"></i>
                                                Doctor Information
                                        </a>
                                </li>
                                <li class="sidebar-item">
                                        <a href="/medical-record" class="sidebar-link" id="medical_record">
                                                <i class="fas fa-file-medical pe-2"></i>
                                                Enter new record
                                        </a>
                                </li>
                                <li class="sidebar-item">
                                        <a href="/medical-record-view" class="sidebar-link" id="medical-record-view">
                                                <i class="fas fa-database pe-2"></i></i>
                                                View Existing Records
                                        </a>
                                </li>
                                <li class="sidebar-item">
                                        <a href="/sign-up" class="sidebar-link pe-2" id="signup">
                                                <i class="fas fa-user-injured pe-2"></i>
                                                Create doctor account
                                        </a>
                                </li>
                        </ul>
                        <ul class="list-unstyled px-2">
                                <li class=""><a href="/logout" class="text-decoration-none" id="logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                        </ul>
                </div>
        </aside>
        <div class="main">
                <div class="">
                        <div class="container">{% block sidebar %} {% endblock %}</div>
                </div>
        </div>
</div>
<script text="text/javascript"
    src="{{ url_for('static', filename='index.js')}}"></script>
{% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
                <div cla        ss="navbar-nav">
                        <a class="nav-item nav-link" id="login" href="/login">Login</a>
                        <a class="nav-item nav-link" id="signup" href="/sign-up">Sign Up</a>
                </div>
        </div>
</nav>
<div class="container">{% block content %} {% endblock %}</div>
{% endif %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
        </div>
        {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
        crossorigin="anonymous"></script>
</html>