{% extends "base.html" %}
{% block title %}Doctor page{% endblock %}

{% block sidebar %}
<h1>Welcome to the Doctor's page</h1>
<h3>Personal Information</h3>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Add doctor
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST">
                <div class="form-group">
                    <label for="doctor_name">Dotor Name</label>
                    <input type="text" class="form-control" name="doctor_name" id="doctor_name">
                </div>
                <div class="form-group">
                    <label for="doctor_dob">Date of birth</label>
                    <input type="date" name="doctor_dob" id="doctor_dob">
                    <label for="gender">Gender</label>
                    <select name="gender" id="gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" name="address" id="address">
                </div>
                <div class="form-group">
                    <label for="doctor_phone">Phone</label>
                    <input type="number" name="doctor_phone" id="doctor_phone">
                    <label for="doctor_email">Email</label>
                    <input type="doctor_email" name="doctor_email" id="doctor_email">
                </div>
            
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Handle</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for row in doctors %}
                    <tr>
                        <td>{{ row.id }}</td>
                        <td>{{ row.doctor_name }}</td>
                        <td>{{ row.doctor_phone }}</td>
                        <td>..................</td>
                        <td>
                            <a href="#">View Details</a>
                        </td>
                    </tr>
                    {% endfor %}
    </tbody>
  </table>
{% endblock %}