{% extends "base.html" %} 
{% block title %}Home page{% endblock %}

{% block sidebar %}
<h1>Medical records</h1>
<form method="POST">
    <h2>A.General Question</h2>
    <div class="form-group">
        <label for="patient_name">Patient Name</label>
        <input type="text" class="form-control" name="patient_name" id="patient_name">
    </div>
    <div class="form-group">
        <label for="patient_dob">Date of birth</label>
        <input type="date" name="patient_dob" id="patient_dob">
        <label for="gender">Gender</label>
        <select name="gender" id="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" name="address" id="address">
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" name="phone" id="phone">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
    </div>
    <div class="form-group">
        <label for="social_security_number">Social Security Number</label>
        <input type="text" name="social_security_number" id="social_security_number">
        <label for="health_insurance_number">Insurance Number</label>
        <input type="text" name="health_insurance_number" id="health_insurance_number">
    </div>
    <div class="form-group">
        <label for="marital_status">Marital Status</label>
        <select name="marital_status" id="marital_status">
            <option value="single">Single</option>
            <option value="married">Married</option>
            <option value="divorced">Divorced</option>
            <option value="widowed">Widowed</option>
        </select>
        <label for="occupation">Occupation</label>
        <input type="text" name="occupation" id="occupation">
    </div>
    <h2>B.Health Information</h2>
    <div class="form-group">
        <label for="blood_type">Blood group</label>
        <input type="text" name="blood_type" id="blood_type">
        <label for="blood_pressure">Blood pressure</label>
        <input type="number" name="blood_pressure" id="blood_pressure">
    </div>
    <div class="form-group">
        <label for="weight">Weight (kg)</label>
        <input type="number" name="weight" id="weight">
        <label for="height">Height (cm)</label>
        <input type="number" name="weight" id="weight">
    </div>
    <div class="form-group">
        <label for="disease_history">Disease History</label>
        <input type="text" class="form-control" name="disease_history" id="disease_history">
    </div>
    <div class="form-group">
        <label for="drug_sensitive">Drug Sensitive</label>
        <input type="text"class="form-control" name="drug_history" id="disease_history">
    </div>
<h2>C. Others Information</h2>
    <div>
        <label for="doctor_name">Doctor Name</label>
        <input type="text" name="doctor_name" id="doctor_name">
        <label for="doctor_phone">Doctor Phone</label>
        <input type="tel" name="doctor_phone" id="doctor_phone">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
