{% extends "base.html" %} 
{% block title %}View page{% endblock %}

{% block sidebar %}
<h1>Welcome</h1>
<div class="container">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand">Search patient</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </div>
    </nav>
    <div class="card border-0">
        <div class="card-header">
            <h5 class="card-title">
                Table
            </h5>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Patient ID</th>
                        <th scope="col">Patient Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Last update</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in patients %}
                    <tr>
                        <td>{{ row.id }}</td>
                        <td>{{ row.patient_name }}</td>
                        <td>{{ row.phone }}</td>
                        <td>..................</td>
                        <td>
                            <a href="#">View Details</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
</div>
{% endblock %}
